@media (max-width: 767px) {
  .navbar-brand {
    margin-left: var(--bs-navbar-brand-margin-end);
    margin-right: 0;
  }

  .navbar-main-menu {
    position: relative;
    z-index: 100;
  }

  .navbar-main-nav-background {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    margin-top: var(--bs-navbar-padding-y);
  }

  .navbar-main-nav {
    position: absolute;
    width: 100%;
    margin-top: var(--bs-navbar-padding-y);
    padding-bottom: 2rem;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }

  .main-nav-item {
    margin: 0.5rem;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 0;
    margin-right: var(--bs-navbar-brand-margin-end);
  }
}

.navbar-profile-menu {
  position: relative;
  z-index: 200;
}

.navbar-profile-menu-toggler {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
  border: none;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
}

.navbar-profile-nav {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.profile-nav-item {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}
