<nav class="navbar navbar-expand-md bg-light border-bottom mb-3">
  <div class="container">

    <div class="d-flex">

      <button class="navbar-toggler" type="button" (click)="toggleMainMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" [routerLink]="['/']">SimpleBlog</a>

    </div>

    <div *ngIf="(currentProfile | async)" class="d-block order-md-5">

      <button class="navbar-profile-menu-toggler bg-light text-dark" type="button" (click)="toggleProfileMenu()">
        {{(currentProfile | async)?.name}}
      </button>

      <div class="navbar-profile-menu collapse" [ngClass]="{ show: (profileMenu | async)?.isExpanded }">

        <ul class="navbar-nav navbar-profile-nav bg-light">

          <li class="nav-item profile-nav-item" (click)="collapseProfileMenu()">
            <a class="nav-link text-dark" [routerLink]="['/profiles', (currentProfile | async)?.id]">Profile</a>
          </li>

          <li class="nav-item profile-nav-item" (click)="signOut()">
            <a class="nav-link text-dark" [routerLink]="['/']">Sign out</a>
          </li>

        </ul>

      </div>

    </div>

    <div class="navbar-collapse navbar-main-menu collapse d-md-inline-flex justify-content-end" [ngClass]="{ show: (mainMenu | async)?.isExpanded }">
      <div class="navbar-main-nav-background bg-light"></div>
      <ul class="navbar-nav navbar-main-nav bg-light">

        <li class="nav-item main-nav-item" (click)="collapseMainMenu()">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>

        <li class="nav-item main-nav-item" (click)="collapseMainMenu()" *ngIf="(isAuthenticated | async)">
          <a class="nav-link text-dark" [routerLink]="['/posts/create']">New Post</a>
        </li>

        <li class="nav-item main-nav-item" (click)="collapseMainMenu()" *ngIf="(isAuthenticated | async)">
          <a class="nav-link text-dark" [routerLink]="['/post-tags/edit']">Edit tags</a>
        </li>

        <li class="nav-item main-nav-item" (click)="collapseMainMenu()" *ngIf="!(isAuthenticated | async)">
          <a class="nav-link text-dark" [routerLink]="['/sign-in']">Sign In</a>
        </li>

        <li class="nav-item main-nav-item" (click)="collapseMainMenu()" *ngIf="!(isAuthenticated | async)">
          <a class="nav-link text-dark" [routerLink]="['/sign-up']">Sign Up</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
<!-- [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" -->
