<div class="row">


  <div class="col-md-4 col-lg-3">

    <div class="border rounded-2 my-2">
      <mat-selection-list class="p-0" [(ngModel)]="selectedTags">
        <mat-list-option *ngFor="let tag of (tags | async)" [value]="tag.id">
          {{tag.title}}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <button class="btn btn-primary my-2 w-100" (click)="applyFilter()">Apply</button>
  </div>


  <div class="col-md-8 col-lg-9">
    <div class="my-2" *ngFor="let post of (posts | async)">
      <post-preview [post]="post">
      </post-preview>
    </div>
  </div>


</div>
