<div class="row">


  <div class="col-md-9">
    <div class="d-flex flex-column border rounded my-2" *ngIf="(post | async)">

      <div class="border-bottom p-2">
        <h4>{{(post | async)?.title}}</h4>
      </div>

      <div class="row g-0 border-bottom">
        <div class="col-4 col-lg-3 p-2" *ngIf="(post | async)?.image">
          <img class="w-100 rounded" [src]="(post | async)?.image" />
        </div>
        <div class="col p-2">
          <p class="m-0">{{(post | async)?.content}}</p>
        </div>
      </div>

      <div class="d-flex flex-wrap border-bottom p-2" *ngIf="(post | async)?.tagIds?.length! > 0">
        Tags:&nbsp;
        <ng-container *ngFor="let tagId of (post | async)?.tagIds">
          <post-tag-preview class="me-1" [tagId]="tagId"></post-tag-preview>
        </ng-container>
      </div>

      <div class="d-flex justify-content-between align-items-center p-2">
        <small class="text-muted">{{(post | async)?.createdOn | date:'H:mm dd.MM.Y' }}</small>
        <profile-preview [profileId]="(post | async)?.ownerId"></profile-preview>
      </div>

    </div>
  </div>


  <div class="col-md-3">
    <a class="btn btn-primary my-2 w-100" [routerLink]="['edit']" [class.disabled]="!(isAuthorizedToEdit | async)">Edit</a>
  </div>


</div>
